<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="BluetoothRootFolder" value="C:\SteamWorks\"/>
</appSettings>
  
  <connectionStrings>
    <add name="ScoutingEntities" 
         connectionString="metadata=res://*/DatabaseAccess.ScoutingModel.csdl|res://*/DatabaseAccess.ScoutingModel.ssdl|res://*/DatabaseAccess.ScoutingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOCALHOST\SQLEXPRESS;initial catalog=Scouting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>